<h1>Chatroooms</h1>

<div id="messages">
    <%= render @messages %>
</div>
<form>
    <label>say</label><br>
    <input type="text" data-behavior="room_speaker"><br>
    <input type="button" id="attack1" data-behavior="room_attacker" value="攻撃する"><br>
    <input type="button" id="attack2" data-behavior="room_attacker" value="俺やで"><br>
    <input type="button" id="attack3" data-behavior="room_attacker" value="おまｗｗ"><br>
    <input type="button" id="attack4" data-behavior="room_attacker" value="どぅーー"><br>
    <input type="button" id="attack5" data-behavior="room_attacker" value="＜＾ｑ＾＞"><br>
    <!--
    <input type="text" class="room_speaker"><br>
    <input type="button" class="room_attacker" value="攻撃する"><br>
    <input type="button" class="room_attacker" value="俺やで"><br>
    <input type="button" class="room_attacker" value="おまｗｗ"><br>
    <input type="button" class="room_attacker" value="どぅーー"><br>
    <input type="button" class="room_attacker" value="＜＾ｑ＾＞"><br>
    -->
</form>